<header class="container">
  <h1>Angular Testing</h1>
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/products">Products</a></li>
      <li><a routerLink="/pico-preview">Pico Preview</a></li>
    </ul>
  </nav>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit consectetur modi alias nulla similique, sequi officia ad, quis id tenetur sint mollitia. Deserunt, quod repellat aspernatur soluta in excepturi ex!</p>
</header>
<router-outlet></router-outlet>